body {
    font-family: 'Merriweather', serif;
    background: black;
}

h1 {
    padding-top: 2em;
    padding-bottom: 0.8em;
    text-align: center;
    color:white;
    letter-spacing: 0.7em;
}

nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 0.6 2em;
    padding-bottom: 0.5em;
    border-bottom: solid rgba(255, 255, 255, 0.4) 1px;
}

.nav-item {
    list-style: none;
    color: white;
    padding: 0 3vw;
    text-decoration: none;
}

.nav-item:hover {
    text-decoration: underline;
}

ul {
    align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 1em;
}

.card {
    background: black;
    margin: none;
    padding-bottom: 1em;
    align-content: center;
    text-align: center;
    color:#fff;
}

.grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 0;
    margin: 1rem 0;
    grid-template-areas: 
    "photo photo photo about about"
    "photo photo photo about about"
}

@media only screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "photo"
        "about"
    }

    p {
        padding: 1em;
    }

    .footer a {
        font-size: 35px;
        padding: 10px;
        margin: 10px 0px;
    }
    .nav-item {
        padding: 0 1vw;
    }

    h1 {
        padding: 0.5em;
    }

    .content {
        margin: 0em;
    }
    
    .collapsible i {
        display: none;
    }
}

.grid-item {
    padding: 0.1em 1em;
    margin: 1em;
    color: white
}

.grid-item img {
    object-fit: cover;
    max-width:100%;
    max-height:100%;
}

.grid-item button:hover {
    cursor: pointer;
}

.date {
    font-size: 0.8em;
    text-align: left;
    color:white;
    font-weight: bold;
    line-height: 0.75em;
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* Add a hover effect if you want */
.fab:hover {
opacity: 0.7;
}

button {
    background-color: white;
    border: solid white;
    color: black;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: 'Merriweather', serif;
}

button:hover{
    background-color: black;
    border: solid black;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: 'Merriweather', serif;
}

.post-container {
    display: block;
    padding: 1rem 1rem;
    margin: 1rem 1em;
    border: solid white 0.1em;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: white;
}

.post-container h2 {
    line-height: 0.35em;
    padding-top: 0.5em;
}

.post-container:hover {
    cursor: pointer;
    border-right: solid white 1em; 
}

/* for the photos section */
.img-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.75em;
    background: black;
}

.photo {
    /* padding: 0.25em 0.25em; */
    display: block;
}

.photo > img {
    margin: 0.25em 0em;
    width: 100%;
    /* object-fit: cover;
    max-height: auto;
    height: auto; */
}

.content {
    color:white;
    margin: 1em 3em;
}

.content h1 {
    letter-spacing: normal;
}

.footer {
    text-align: center;
}

/*post2 tea styles*/ 

.herbal {
    display: block;
    padding: 0.25em; 
    background-image: linear-gradient(to right, white 1%, black 1%);
    
}

.white {
    display: block;
    padding: 0.25em; 
    background-image: linear-gradient(to right, white 8%, black 8%);
}

.oolong {
    display: block;
    padding: 0.25em; 
    background-image: linear-gradient(to right, white 25%, black 25%);
}

.green {
    display: block;
    padding: 0.25em; 
    background-image: linear-gradient(to right, white 50%, black 50%);
}

.black {
    display: block;
    padding: 0.25em; 
    background-image: linear-gradient(to right, white 75%, black 75%);
}

.puerh {
    display: block;
    padding: 0.25em; 
    background-image: linear-gradient(to right, white 90%, black 90%);
}

/* styles for collapsible sections */
.collapsible {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 45%;
    text-align: center;
    border: none;
    text-align: left;
    outline: none;
    margin: auto;
    font-size: 15px;
}

.collapsible:hover {
    font-style: italic;
}
  
/* .active, .collapsible:hover {
    background-color: white;
    color: black;
} */


.song {
    width: 40%;
    margin: auto;
    padding: 0 20;
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.2s ease-out; */
    background-color: black;
    border-left: 2px solid white;
    color: white;
}

.fun-link {
    color: lightgreen;
    text-decoration: none;
}

.fun-link:hover {
    text-decoration: underline;
    font-style: italic;
}