body {
    font-family: 'Merriweather', serif;
}

nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    background: #8D9B6A;
    height: 2em;
    text-align: center;
    padding-top: 0.6em;
}

.nav-item {
    list-style: none;
    color: white;
}

.nav-item:hover {
    opacity: 0.7;

}

ul {
    align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 1em;
}

.card {
    background: #8D9B6A;
    margin: none;
    padding-bottom: 1em;
    align-content: center;
    text-align: center;
    color:#fff;
}

#pfp {
    clip-path: circle(175px at center);
}

.grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 1rem 0;
    margin: 1rem 0;
    grid-template-areas: 
    "recent recent item1 item2"
    "recent recent item3 item4"
}

@media only screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "recent"
        "recent"
        "item1"
        "item2"
        "item3"
        "item4"
    }
    #pfp {
        clip-path: circle(10vh at center);
        width: 50%;
    }

    p {
        padding: 1em;

    }

    .footer a {
        font-size: 35px;
        padding: 10px;
        margin: 10px 0px;
    }
}

.grid-item {
    padding: 0.1em 1em;
    border-style: solid;
    margin: 1em;
}

.grid-item button:hover {
    cursor: pointer;
}

.date {
    font-size: 0.8em;
    text-align: left;
    color:  #8D9B6A;
    font-weight: bold;
    line-height: 0.75em;
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  
  /* Add a hover effect if you want */
  .fab:hover {
    opacity: 0.7;
  }

  button {
    background-color: #8D9B6A;
    border: solid #8D9B6A;
    color: #fff;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: 'Merriweather', serif;
  }

  button:hover{
    background-color: #fff;
    border: solid #8D9B6A;
    color: #8D9B6A;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: 'Merriweather', serif;
  }

  .post-container {
    display: block;
    padding: 1rem 1rem;
    margin: 1rem 0;
    border-style: solid;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

}

.post-container h2 {
    line-height: 0.35em;
    padding-top: 0.5em;
    
}

.post-container:hover {
    cursor: pointer;

}

.footer {
    text-align: center;
}